<div class="fill-page container-fluid">
  <div class="row flex-col">
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg hidden-xl" ng-class="$ctrl.dropExpanded ? 'main-sidebar-mobile-expanded' : 'main-sidebar-mobile'">
      <div class="row-fluid main-sidebar-mobile-row">
        
        <div class="main-sidebar-dropdown-item-selected flex-row">
          <div class="dropdown-plus" ng-click="$ctrl.createFoodmood()">
            <img class="dropdown-plus-img" src="assets/images/cross.png"> 
          </div>
          <div class="dropdown-text">
            <h3>{{$ctrl.currentMood.title}}</h3>
          </div>
          <div class="dropdown-arrow">
            <div class="arrow-down" ng-click="$ctrl.toggleDropdown()" ng-show="!$ctrl.dropExpanded"></div>
            <div class="arrow-up" ng-click="$ctrl.toggleDropdown()" ng-show="$ctrl.dropExpanded"></div>
          </div>
        </div>
        

        <div ng-repeat="mood in $ctrl.moods" ng-click="$ctrl.setFoodmood(mood)" class="main-sidebar-dropdown-item col-xs-12" ng-show="$ctrl.dropExpanded">
          {{mood.title}}
        </div>
        
      </div>
     </div>


    <div class="main-sidebar hidden-xs col-sm-3">
    <div class = "main-sidebar-plus" ng-click = "$ctrl.createFoodmood()">
      <img class="main-sidebar-plus-img" src="assets/images/cross.png"> 
    </div>
      <div ng-repeat="mood in $ctrl.moods" ng-click="$ctrl.setFoodmood(mood)" class=" col-xs-12 main-sidebar-item">
        {{mood.title}}
      </div>
    </div>
    <div class="main-restaurant-view col-xs-12 col-sm-9 col-sm-offset-3">
      <div class="row">
        <h1 class="col-xs-12">{{$ctrl.currentRestaurant.name}}</h1>
        <img class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5" src="{{$ctrl.currentRestaurant.rating_img_url_large}}">
        <p class="col-xs-12">{{$ctrl.currentRestaurant.snippet_text}}</p>
        <img class="col-xs-12 col-sm-8 col-sm-offset-2" src="{{$ctrl.currentRestaurant.image}}">
      </div>
    </div>   
  </div>
  <div class="main-action-bar col-xs-12">
    <div class="main-action-bar-container">
      <button type="button" ng-show="$ctrl.Auth.isLoggedIn()" ng-click="$ctrl.saveRestaurant()" class="btn btn-warning btn-lg main-action-bar-btn">
        Save
        <img class="main-action-bar-btn-img" src="assets/images/star.svg">
      </button>
      <button type="button" ng-click="$ctrl.getNextRestaurant()" class="btn btn-warning btn-lg main-action-bar-btn">
        Next
        <img class="main-action-bar-btn-img" src="assets/images/rightarrow.png">
      </button>        
    </div>
  </div>
  
</div>

