<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Food Mood</h1>
   <!--  <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman"> -->
  </div>
</header>

<div class="container">
  <div class="search-box">
    <h1 class="page-header">Search for food near you:</h1>
    <form>
      <fieldset class="form-group">
        Search for
        <input type="text" ng-model="$ctrl.searchTerm" class="form-control" placeholder="Search for restaurants...">
        in
        <input type="text" ng-model="$ctrl.searchPlace" class="form-control" placeholder="Search for restaurants...">
        <small class="text-muted">Try 'pizza in Boston', for example.</small>
      </fieldset>
      <button type="submit" ng-click="$ctrl.search()" class="btn btn-primary btn-lg">Search!</button>
    </form>
  </div>
  <div class="restaurant-listings" ng-repeat="restaurant in $ctrl.restaurants">
    <div class="restaurant-listing row">
      <img src="{{restaurant.image_url}}" class="col-xs-2">
      <div class="col-xs-10">
        <h3>{{restaurant.name}}</h3>
        <p>{{restaurant.location.address[0]}}, {{restaurant.location.city}}</p>
        <img src="{{restaurant.rating_img_url_large}}">
      </div>
    </div>
  </div>
</div>


