<div class="container-fluid main-page-wrapper">
  <div class="dashboard-container row">
    <div class="col-sm-3 foodmood-list">
      <div class="new-foodmood-btn btn" ng-click="$ctrl.switchViews()">
        New FoodMood
      </div>
      <div ng-repeat="mood in $ctrl.moods" ng-click="$ctrl.setFoodmood(mood)" class="mood-item">
        {{mood.title}}
      </div>
      <!-- <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select> -->
    </div>
    <div class="col-sm-9 restaurant-view" ng-show="$ctrl.viewMain">
      <h2>{{$ctrl.currentRestaurant.name}}</h2>
      <p>{{$ctrl.currentRestaurant.phone}}</p>
      <p><img src="{{$ctrl.currentRestaurant.rating_img_url_large}}"></p>
      <p>Phone : {{$ctrl.currentRestaurant.phone}}</p>
      <p>Address : {{$ctrl.currentRestaurant.location["display_address"].toString()}}</p>    <!--location-->
      <img src={{$ctrl.currentRestaurant.image_url}} alt="Photo" class="col-xs-2">
    </div>
    <div class="col-sm-9 new-foodmood-view" ng-hide="$ctrl.viewMain">
      <h2>New Food Mood</h2>
      <form>
        <fieldset class="form-group">
          <label for="mood-title">Mood title</label>
          <input ng-model="$ctrl.mood.title" type="text" class="form-control" id="mood-title">
        </fieldset>
        <fieldset class="form-group">
          <label for="mmood-description">Description</label>
          <textarea ng-model="$ctrl.mood.description" class="form-control" id="mood-description" rows="3"></textarea>
        </fieldset>
        <fieldset class="form-group">
          <label for="mood-location">Location</label>
          <input ng-model="$ctrl.mood.location" type="text" class="form-control" id="mood-location" placeholder="Boston">
        </fieldset>
        <fieldset class="form-group">
          <label for="mood-tags">Tags</label>
          <input ng-model="$ctrl.mood.tags" type="text" class="form-control" id="mood-tags">
          <!-- <br>
          <div ng-repeat="tag in $ctrl.tagList" class="tag-item btn">
            <span>{{tag}}</span>
            <span>&#43;</span>
          </div> -->
        </fieldset>
        <button ng-click="$ctrl.createFoodmood()" type="button" class="btn btn-info btn-lg">Feed me!</button>

      </form>
      {{$ctrl.mood}}
    </div>
  </div>
</div>




